:root {
  background-color: #222222;
}

button.box {
  color: #FFF;
  font-size: 35px;
  text-transform: capitalize;
  vertical-align: top;
  background-color: #222222;
  border: 1px solid #c4c4c4;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.box.unmatched {
  background-color: #888;
}

.box.wrong_ordered {
  background-color: #cc3;
}

.box.correct {
  background-color: #3c3;
}

.gameboard {
  position: fixed;
  transform: translate(-50%, 0);
  left: 50%;
}

p {
  color: #fff;
  text-transform: uppercase;
}

.keyboard {
  position:absolute;
  top:100vh;
  transform:translate(-25%, -150%);
  width: 200%;
}

.center {
  text-align: center;
  left: 50%;
}

h1 {
  flex-grow: 1;
  color: #fff;
  text-align: center;
}

.dropdown_btn {
  font-size: 2vw;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
}

.menu button {
  
}

.sidebar {
  height: 100%;
  position: fixed;
  background-color: #000;
  transition: 0.5s;
}

.sidebar * {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebarHeading {
  text-align: center;
  flex-grow: 1;
}

.make_wordle * {
  font-size: 1.5em;
}